.square {
    width: 100%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.valign.AoSinitialsHome {
    width: 100%;
    text-align: center;
}

div#searchIconGrid,
div#searchIconList {
    font-size: 2rem;
}

.row.AoShead {
    text-align: center;
}

i.fa.fa-th:hover {
    background-color: #1A5276;
}

i.fa.fa-list-ul:hover {
    background-color: #1A5276;
}

.col.m1.mason,
.col.m2.mason,
.col.m4.mason,
.col.m6.mason,
.col.m12.mason {
    margin: 0!important;
    padding: 0!important;
    overflow: hidden;
    position: relative;
}

iframe#player {
    height: 100%;
}

.col.m6.mason .material-placeholder {
    height: 100%;
}

.col.m6.mason img.materialboxed.masonImg.initialized,
.col.m2.mason img.materialboxed.masonImg.initialized {
    height: 100%;
}

.valign.twitterHome {
    margin: 0 5%;
}

.smIconsAbs {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;
    font-size: 2rem;
}

.row.nextStep {
    height: 200px;
    margin: 0;
}

.col.m4.s12.valign.nextStepButtons {
    margin-left: 0;
}

.col.m12.valign-wrapper.purple.BCcardHead,
.col.m12.valign-wrapper.green.BCcardHead,
.col.m12.valign-wrapper.bluegrey.BCcardHead{
    min-height: 100px;
}

.col.m4.BCcard h6.valign.center-align {
    width: 100%;
}

.col.s12.AoSicon {
    padding-bottom: 2%;
}

.row.testimonial {
    position: relative;
}

.valign-wrapper.col.m7.AoStestText {
    position: absolute;
    right: 0;
    top: 10%;
    width: 100%;
    padding-left: 41.6666666667%;
    border:solid;
    z-index: -1;
    height: 80%;
}

.col.m1.leftQuote {
    font-size: 3rem;
}

.row.testContent {
    margin-top: 5%;
}

.row.outerBorder {
    padding: 2% 1%;
    border: solid 3px #efefef;
    margin-bottom: 0;
}

.col.m4.borderRight {
    border-right: solid 1px #efefef;
}

.row.thin {
    margin-bottom: 0;
}

.row.smallContainer {
    margin-left: 5%;
    margin-right: 5%;
}

.collapsible-body {
    height: 550px;
}

.collapsible-header.valign-wrapper.noBlock {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.bgQuestion {
    padding: 20px 20px 100px 20px;
    position: relative;
    width: 400px;
    overflow: hidden;
    z-index: 10;
}
.bgQuestion::after {
    color: #236FA0;
    content: attr(data-bg-question);
    display: block;
    font-size: 30rem;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    top: -10%;
    left: 0px;
    opacity: 0.6;
    z-index: -1;
}

.noSideMargin {
    margin-left: 0;
    margin-right: 0;
}

.col.m6.s12.blue.white-text.nursingRight {
    padding-left: 0;
    border-left: .75rem solid white;
}

.col.m6.s12.blue.white-text.nursingLeft{
    padding-right: 0;
    border-right: .75rem solid white;
}

.header.solidClear {
    height: 128px;
}

.row.acaImg.valign-wrapper {
    background-image: url('/sites/all/themes/acc2017/img/academics-hero.jpg');
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}

.topContent.grey.white-text {
    position: absolute;
    top: 0;
    width: 30%;
    text-align: center;
}

h4.aos-card a {
    color: black;
}

.toast {
    padding:0;
    box-shadow: none;
    background-color: transparent;
}

.row.alertToast {
    min-height: 100px;
    width: 500px;
    color: #000000;
    padding: 3% 5% 5% 5%;
}

.alertTitle h5{
    font-weight: 600;
}

.nextStepButtons a:hover {
    background-color: #ffffff !important;
    color: #E3902C !important;
}